.App {
  text-align: center;
}

.active {
  background-color: red;
}

.App-header {
  background-color: #222;
  padding: 20px;
}

.App-header a {
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.flex {
  display: flex;
  justify-content: space-around;
  color: white;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
